#root {
  /*max-width: 1280px;*/
  margin: 0 auto;
  text-align: center;
  color: #224dbe;
}

.logo {
  height: 8rem;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.navbar a::after {
  content: "|";
  margin-left: 8px;
}
.navbar a:last-child::after {
  content: "";
}
.open-hamburger {
  background-color: #224dbe;
}
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.hidden {
  visibility: hidden;
}

/*Website colors*/

.cream {
  background-color: #fefefe;
}

.blue {
  background-color: #224dbe;
}

.peach {
  background-color: #e8843a;
}
/* Fonts*/

@font-face {
  font-family: "carlito-bold";
  src: url(./assets/fonts/Carlito-Bold.ttf) format("opentype");
}

.carlito-bold {
  font-family: "carlito-bold";
  color: #224dbe;
}
